﻿@model List<TestTask.BLL.DTO.TranslationTypeDTO>
@{
    ViewBag.Title = "Convert";
}
<div class="container translator-container">
    <div class="row">
        <div class="col-md">
            @using (Ajax.BeginForm("TranslateText", "Translator", new AjaxOptions { OnBegin = "OnTranslationStrat", OnComplete = "OnTranslated", OnSuccess = "OnTranslatedSuccess" }))
            {
                <div class="form-group">
                    <div class="input-group">

                        <select class="form-control" name="TranslationId" id="translatorSelect">
                            <option selected value="0"> Select translator...</option>
                            @foreach (var type in Model)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </select>
                        <input class="input-group-append btn btn-dark" id="btnSubmit" type="submit" value="Convert" disabled />
                    </div>
                </div>
                <div class="translator-text-wrapper">
                    <textarea class="form-control translator-text" rows="5" name="text" placeholder="Type text here.."></textarea>
                </div>
            }
        </div>
        <div class="col-sm-12 col-md">
            <div id="result">
                @Html.Partial("../Translator/TranslateText", new TestTask.BLL.DTO.TranslationRequestDTO())
            </div>
            <div id="translating" style="display:none">
                <div class="loader"></div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script type="text/javascript">
        $("select").on('change', function () {
            if ($(this).find('option:selected').val() == 0)
                $("#btnSubmit").attr('disabled', true)
            else
                $("#btnSubmit").attr('disabled', false)
        });
        var loading = false;
        var fakeLoading = false;
        function OnTranslationStrat() {
            loading = true;
            fakeLoading = true;
            $("#translating").css('display', 'block');
            setTimeout(
                function () {
                    fakeLoading = false;
                    if (!loading) {
                        $("#translating").css('display', 'none');
                    }
                }, 1000);
        }
        function OnTranslated() {
            loading = false;
            if (!fakeLoading) {
                $("#translating").css('display', 'none');
            }
        }
        function OnTranslatedSuccess(data) {
            $('#result').html(data);
        }
    </script>
}