﻿@model TestTask.BLL.DTO.TranslationRequestDTO
<div class="translator-errors">
    <ul class="list-group">
        @foreach (ModelState modelState in ViewData.ModelState.Values)
        {
            foreach (ModelError error in modelState.Errors)
            {
                <li class="list-unstyled list-group-item-danger">
                    @error.ErrorMessage
                </li>
            }
        }
    </ul>
</div>
<div class="form-group">
<textarea rows="5" readonly class="w-100 form-control @(!String.IsNullOrEmpty(Model.ResultText)?"translator-result-success":"")">
    @Model.ResultText
</textarea>
</div>