﻿
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

body, html, .body-content {
    margin: 0px;
    padding: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

    .footer p {
        margin: 0px;
        padding-right: 5px;
    }





.translator-container {
    margin-top: 20px;
}



/*.footer {
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}*/

.translator-errors {
    margin-bottom: 4px;
    height: 50px;
    width: 100%;
}

.translator-result-success {
    background-color: white !important;
}

#translating {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.14);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 8px solid #f3f3f3;
    border-top: 9px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
